header { 
    font-size: 72px;
    color: #000099;
    } 

body { 
    background-color: #cccccc; 
    } 

nav { } 

h1 {
    font-size: 30px;
    text-align: left;
    } 

h2 {
    font-size: 20px;
    text-align: left;
    } 

ul {
    color: black;
    }