header { 
    font-size: 50px;
    color: #000099;
    } 

body { 
    background-color: #cccccc; 
    } 

nav { 
    background-color: black;
    overflow: hidden;
    } 
nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    }

h1 {
    font-size: 30px;
    text-align: left;
    } 

h2 {
    font-size: 20px;
    text-align: left;
    } 

ul {
    color: black;
    }